[package]
name = "cargo-expand"
version = "0.3.19"
authors = ["David Tolnay <dtolnay@gmail.com>"]
license = "MIT/Apache-2.0"
description = "Wrapper around rustc --pretty=expanded. Shows the result of macro expansion and #[derive] expansion."
repository = "https://github.com/dtolnay/cargo-expand"
documentation = "https://github.com/dtolnay/cargo-expand"
keywords = ["cargo", "subcommand", "expanded"]
categories = ["development-tools::cargo-plugins", "development-tools::debugging"]
readme = "README.md"

[dependencies]
isatty = "0.1.1"
tempfile = "3.0"

[badges]
travis-ci = { repository = "dtolnay/cargo-expand" }
