name: CI

on:
  push:
  pull_request:
  schedule: [cron: "40 1 * * *"]

env:
  RUSTFLAGS: '-Dwarnings'

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt
      - run: cargo run -- expand --manifest-path tests/Cargo.toml > expand.rs
      - run: diff tests/lib.expand.rs expand.rs
      - run: cargo run --features prettyplease -- expand --manifest-path tests/Cargo.toml > expand.rs
      - run: diff tests/lib.expand.rs expand.rs

  build:
    name: Rust ${{matrix.rust}}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        # beta broken: https://github.com/rust-lang/rust/issues/91872
        #rust: [nightly, beta, stable, 1.56.0]
        rust: [nightly, stable, 1.56.0]
    steps:
      - uses: actions/checkout@v2
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{matrix.rust}}
      - run: cargo check
      - run: cargo check --features prettyplease
      - run: cargo update
      - run: cargo check
      - run: cargo check --features prettyplease
      - run: cargo test

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request'
    steps:
      - uses: actions/checkout@v2
      - uses: dtolnay/rust-toolchain@clippy
      - run: cargo clippy --tests -- -Dclippy::all -Dclippy::pedantic

  outdated:
    name: Outdated
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request'
    steps:
      - uses: actions/checkout@v2
      - uses: dtolnay/install@cargo-outdated
      - run: cargo update
      - run: cargo outdated --exit-code 1 --ignore syntect
